:root{
    overflow: hidden;
}
.forma{
    width: 200px;
    height: 200px;
    position: absolute;
    border-radius: 50%;
}
.forma:first-child{
    background: linear-gradient(
        to right,
        blue,
        cyan
    );
    left: -50px;
    top: -40px;
}
.forma:last-child{
    background: linear-gradient(
        to right,
        red,
        orange
    );
    right: -40px;
    bottom: -80px;
}

@media screen and (max-width: 600px) {
    .forma:last-child{
        background: linear-gradient(
            to right,
            red,
            orange
        );
        right: -90px;
        bottom: -100px;
    }
}    